@import "enterstyle";

$primary-color: #F6F5F5;
$secondary-color: #D3E0EA;
$tertiary-color: #1687A7;
$extra-color : #276678;


  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  
    @font-face{
      font-family: "font-farsi";
      src : url("./B-Ziba/B\ Ziba_0.ttf");
    }
    @font-face {
      font-family: "font-dov";
      src: url("./font-d/Dirooz.eot"),
           url("./font-d/Dirooz.ttf"),
           url("./font-d/Dirooz.woff")
    }

  body {
    background-color: #ffff;
    font-size: 62.5%;
    position: relative;
    height: 100vh;
    font-family: "font-dov";
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }



  
  .head {
    &-container {
      display: flex;
      justify-content: space-between;
      max-width: 1100px;
      margin: auto;
      text-align: center;
      align-items: center;
      border-bottom: 2px solid grey;
      &-text {
        font-size: 2rem;
        font-weight: bolder;
      }
      .back {
        padding-top: 0.5remm;
        width: 3rem;
        height: 3rem;
        padding-top: 15px;
      }
    }
  }




  .display-movment {

    .current-volume {
      margin-bottom: 2rem;
      .text {
        font-size: 1.8rem;
        font-weight: bold;
      }
      .date {
        font-size: 1.2rem;
        color: grey;
      }
    }
    &-container {
      width: 500px;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      .movment {
        display: flex;
        height: 60px;
        background-color: bisque;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        padding: 0.5rem;
        margin: 0.5rem 0;
        .movment-desc {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  


  .display {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
    flex-wrap: wrap;
  }

  .box {
    background-color: aqua;
    
  }
  
  .movment-container-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }



/////////////////////////////////////
  // LOGIN MODEL

.login{
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: $primary-color;
  color: $extra-color;
  width: 20rem;
  height: 36rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;


  .login__exit{
    align-self: self-start;
    margin-bottom: 1.5rem;
    cursor:pointer;
    .img{
      width: 1.5rem;
      height: 1.5rem;
      color: $extra-color;
    }
  }

  .login--logo{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    opacity: .5;
  }

  .logo__svg{
    width: 3rem;
    height: 3rem;
    margin-bottom: 1.5rem;
  }
  .login--form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    gap: 1rem;
    justify-content: space-between;
  }

  input{
    display: block;
    font: inherit;
    font-weight: 600;
    font-size: 1rem;
    padding: .5rem;
    width: 100%;
    color: $tertiary-color;
    border: 1px solid $tertiary-color;
    border-radius: .2rem;
    &:focus{
      outline: none;
    }
  }

  .login--form__btn{
    background-color: $tertiary-color;
    color: $primary-color;
    font-weight: 900;
 
  }

  .login__submit{
    font-size: 1.1rem;

    span{
      color: red;
      font-weight: 600;
    }
  }
}


/// Utility classes
.btn {
  font : inherit;
  font-size: 1.5rem;
  display: inline-block;
  width: 100%;
  padding: .1rem 0rem ;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: .2rem;
}

////// Creadit Card 
.Wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.Base {
  background: #ccc;
  height: 18rem;
  width: 32rem;
  border-radius: 15px;
}

.Inner-wrap {
  background-color: #0c0014;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%230d1838' points='1600%2C160 0%2C460 0%2C350 1600%2C50'/%3E%3Cpolygon fill='%230e315d' points='1600%2C260 0%2C560 0%2C450 1600%2C150'/%3E%3Cpolygon fill='%230f4981' points='1600%2C360 0%2C660 0%2C550 1600%2C250'/%3E%3Cpolygon fill='%231062a6' points='1600%2C460 0%2C760 0%2C650 1600%2C350'/%3E%3Cpolygon fill='%23117aca' points='1600%2C800 0%2C800 0%2C750 1600%2C450'/%3E%3C/g%3E%3C/svg%3E");
  background-size: auto 147%;
  background-position: center;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 13px;
  padding: 20px 40px;
  box-sizing: border-box;
  color: #fff;
}

p {
  margin: 0;
  font-size: 3rem;
}

/* Controls top right logo */

.Logo {
  position: absolute;
  height: 7rem;
  width: 7rem;
  right: 0;
  top: 0;
  padding: inherit;
  fill: #117aca;
}

/* Controls chip icon */

.Chip {
  height: 4rem;
  margin: 40px 0 25px 0;
}

.gold path{
  fill: url(#gold-gradient);
}

svg {
  display: block;
}

/* Controls name size */

.Logo-name {
  transform: scale(.5);
  margin: .69rem 12.6rem;
}

.Card-number p {
  text-align: center;
}

.Card-number {
  margin-top: -3.8rem;
  margin-right: 6rem;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.9);
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  float: left;
  margin: 0px 10px;
  font-size: 1.8rem;
}

#first-li {
  margin-left: 0;
}

#last-li {
  margin-right: 0;
}

.Expire {
  font-size: .6rem;
  text-align: center;
  margin-top: .8rem;
  margin-right: 22rem;
}

.Expire h4 {
  font-weight: 400;
  color: #aaa;
  margin: 0;
  text-transform: uppercase;
}

.Expire p {
  font-size: 1.55em;
  color: rgba(255, 255, 255, 0.9);
}

.Name h3 {
  position: absolute;
  bottom: 0;
  left: 18%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.35em;
  color: rgba(255, 255, 255, 0.85);
}

.visa {
  width: 8rem ;
  font-size:1.15rem;
  position: absolute;
  bottom: .6rem;
  right: 0;
  padding: inherit;
  text-align: center;
}

.CVV2{
  color: rgb(177, 176, 176);
  font-size: .6rem;
}



/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  font-size: .8rem;
  color: $primary-color;
  width: 40rem;

  h2{
    margin-bottom: 1.9rem;
  }

  .form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    justify-content: start;
  }

  input{
    display: block;
    font: inherit;
    font-weight: 600;
    font-size: 1rem;
    padding: .5rem;
    width: 100%;
    color: $tertiary-color;
    border: 1px solid $tertiary-color;
    border-radius: .2rem;
    &:focus{
      outline: none;
    }
}
}

.operation--transfer {
  // background-image: linear-gradient(to top left, #ffb003, #ffcb03);
  background-color: $extra-color;
}

.operation--loan {
  // background-image: linear-gradient(to top left, #39b385, #9be15d);
  background-color: $tertiary-color;
}

.operation--close {
  // background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  background-color: $extra-color;
}