.enter-to-acccount {
  background-color: aquamarine;
  position: relative;
  z-index: 200;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "font-farsi";
  src: url("./B-Ziba/B Ziba_0.ttf");
}
@font-face {
  font-family: "font-dov";
  src: url("./font-d/Dirooz.eot"), url("./font-d/Dirooz.ttf"), url("./font-d/Dirooz.woff");
}
body {
  background-color: white;
  font-size: 62.5%;
  position: relative;
  height: 100vh;
  font-family: "font-dov";
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.head-container {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  align-items: center;
  border-bottom: 2px solid grey;
}
.head-container-text {
  font-size: 2rem;
  font-weight: bolder;
}
.head-container .back {
  padding-top: 0.5remm;
  width: 3rem;
  height: 3rem;
  padding-top: 15px;
}

.display-movment .current-volume {
  margin-bottom: 2rem;
}
.display-movment .current-volume .text {
  font-size: 1.8rem;
  font-weight: bold;
}
.display-movment .current-volume .date {
  font-size: 1.2rem;
  color: grey;
}
.display-movment-container {
  width: 500px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.display-movment-container .movment {
  display: flex;
  height: 60px;
  background-color: bisque;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 0.5rem;
  margin: 0.5rem 0;
}
.display-movment-container .movment .movment-desc {
  display: flex;
  justify-content: space-between;
}

.display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.box {
  background-color: aqua;
}

.movment-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.login {
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: #F6F5F5;
  color: #276678;
  width: 20rem;
  height: 36rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.login .login__exit {
  align-self: self-start;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.login .login__exit .img {
  width: 1.5rem;
  height: 1.5rem;
  color: #276678;
}
.login .login--logo {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  opacity: 0.5;
}
.login .logo__svg {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1.5rem;
}
.login .login--form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1rem;
  justify-content: space-between;
}
.login input {
  display: block;
  font: inherit;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  color: #1687A7;
  border: 1px solid #1687A7;
  border-radius: 0.2rem;
}
.login input:focus {
  outline: none;
}
.login .login--form__btn {
  background-color: #1687A7;
  color: #F6F5F5;
  font-weight: 900;
}
.login .login__submit {
  font-size: 1.1rem;
}
.login .login__submit span {
  color: red;
  font-weight: 600;
}

.btn {
  font: inherit;
  font-size: 1.5rem;
  display: inline-block;
  width: 100%;
  padding: 0.1rem 0rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.2rem;
}

.Wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.Base {
  background: #ccc;
  height: 18rem;
  width: 32rem;
  border-radius: 15px;
}

.Inner-wrap {
  background-color: #0c0014;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%230d1838' points='1600%2C160 0%2C460 0%2C350 1600%2C50'/%3E%3Cpolygon fill='%230e315d' points='1600%2C260 0%2C560 0%2C450 1600%2C150'/%3E%3Cpolygon fill='%230f4981' points='1600%2C360 0%2C660 0%2C550 1600%2C250'/%3E%3Cpolygon fill='%231062a6' points='1600%2C460 0%2C760 0%2C650 1600%2C350'/%3E%3Cpolygon fill='%23117aca' points='1600%2C800 0%2C800 0%2C750 1600%2C450'/%3E%3C/g%3E%3C/svg%3E");
  background-size: auto 147%;
  background-position: center;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 13px;
  padding: 20px 40px;
  box-sizing: border-box;
  color: #fff;
}

p {
  margin: 0;
  font-size: 3rem;
}

/* Controls top right logo */
.Logo {
  position: absolute;
  height: 7rem;
  width: 7rem;
  right: 0;
  top: 0;
  padding: inherit;
  fill: #117aca;
}

/* Controls chip icon */
.Chip {
  height: 4rem;
  margin: 40px 0 25px 0;
}

.gold path {
  fill: url(#gold-gradient);
}

svg {
  display: block;
}

/* Controls name size */
.Logo-name {
  transform: scale(0.5);
  margin: 0.69rem 12.6rem;
}

.Card-number p {
  text-align: center;
}

.Card-number {
  margin-top: -3.8rem;
  margin-right: 6rem;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.9);
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  float: left;
  margin: 0px 10px;
  font-size: 1.8rem;
}

#first-li {
  margin-left: 0;
}

#last-li {
  margin-right: 0;
}

.Expire {
  font-size: 0.6rem;
  text-align: center;
  margin-top: 0.8rem;
  margin-right: 22rem;
}

.Expire h4 {
  font-weight: 400;
  color: #aaa;
  margin: 0;
  text-transform: uppercase;
}

.Expire p {
  font-size: 1.55em;
  color: rgba(255, 255, 255, 0.9);
}

.Name h3 {
  position: absolute;
  bottom: 0;
  left: 18%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.35em;
  color: rgba(255, 255, 255, 0.85);
}

.visa {
  width: 8rem;
  font-size: 1.15rem;
  position: absolute;
  bottom: 0.6rem;
  right: 0;
  padding: inherit;
  text-align: center;
}

.CVV2 {
  color: rgb(177, 176, 176);
  font-size: 0.6rem;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  font-size: 0.8rem;
  color: #F6F5F5;
  width: 40rem;
}
.operation h2 {
  margin-bottom: 1.9rem;
}
.operation .form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  justify-content: start;
}
.operation input {
  display: block;
  font: inherit;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  color: #1687A7;
  border: 1px solid #1687A7;
  border-radius: 0.2rem;
}
.operation input:focus {
  outline: none;
}

.operation--transfer {
  background-color: #276678;
}

.operation--loan {
  background-color: #1687A7;
}

.operation--close {
  background-color: #276678;
}/*# sourceMappingURL=style.css.map */